@import "common-types.css";
@import "grid-items.css";
@import "sidebar.css";

blockquote {
    font-size: 26px;
    font-weight: bold;
}

u {
    color: blue;
}

b {
    color: white;
}

.container {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 90px 370px 600px 10px;
    grid-template-areas: 
    "hd"
    "sh"
    "ai"
    "main"  
    "ft";
    color: black;
}

.sub-header {
    grid-area:sh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
}

.author-info {
    grid-area:ai;
    text-align: center;
    justify-content: start;
    display: flex;
    flex-direction: column;
}

.social-media-container {
    display: flex;
    direction: row;
    align-items: center;
    justify-content: center;
}

.social-media-logo {
    padding: 5px 0px;
    width: 60px;
    height: 60px;
    background-size: contain;
    background-position:center center;
    background-repeat:no-repeat;
    background-clip:content-box;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.facebook {
    background-image: url("../images/facebook-logo.png");
}

.twitter {
    background-image: url("../images/twitter-logo.png");
    width: 42px;
    height: 42px;
}

.linkedin {
    background-image: url("../images/linkedin-logo.png");
}

.author-name {
    font-size: 26px;
}

.author-info {
    padding: 10px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid gray;
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.home-ref {
    padding: 10px;
}

@media(min-width:900px) {
.container {
    display:grid;
    grid-template-columns: 200px;
    grid-template-rows: 200px 80px 400px 600px 10px;    
    grid-template-areas: 
    "hd hd hd hd hd hd hd hd"
    "ff sh sh sh sh sh sh sh"
    "sd ai ai ai ai ai ai ai"
    "sd main main main main main main main"
    "ft ft ft ft ft ft ft ft";
    height: none;
  }
  
  .sidebar {
    display: block;
  }
}