@import "common-types.css";
@import "grid-items.css";
@import "sidebar.css";

h3 {
    color: #3b3b3b;
    text-align: center;
    font-size: 15x;
}

.container {
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 80px 900px 10px;
    grid-template-areas: 
    "hd"
    "sh"
    "main"  
    "ft";
    color: black;
}

.sub-header {
    grid-area:sh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding: 0px 30px;
    text-decoration: underline;  
}

.content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.outer-blog-container {
    border-top: 1px solid #aab8c2;
}

.blog-container {
    display: flex;
    justify-content: space-evenly;
}

.blog-item {
    height: 315px;
    width: 315px;
    margin: 10px 0px;
    background-color: #c3c3c3;    
    box-shadow: 1px 2px #888888;    
    padding: 10px;
    border: 1px solid gray;
    transition: 0.4s;
}

.homepage-images {
    margin-top: 10px;
    width: 150px;
    height: 150px;
    box-shadow: 2px 2px #888888;    
}

.blog-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.author {
    text-align: center;    
}

.article-link {
    text-align: center;
    font-size: 10px;
    padding-top: 15px;
}

@media(min-width:900px) {
.container {
      display:grid;
      grid-template-columns: 200px;
      grid-template-rows: 200px 80px 900px 10px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "ff sh sh sh sh sh sh sh"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
      height: none;
  }
  .sidebar {
    display: block;
  }
}