/* Mobile first */
body {
    background-color: #A9A9A9;;
}
.container{
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 9% 0% 75%;
  /* border: 2px solid yellow; */
  grid-template-areas: 
  "hd"
  "sh"
  "sd"
  "main"  
  "ft";
  /* height: auto; */
  /* height: 100vh; */
  color: black;
  /* CAEBF2 A9A9A9 FF3B3F EFEFEF */
}
.box{
    /* border: 1px solid red;  */
    /* background: #F8FA9D; */
}

.header{
    grid-area:hd;
    /* background-color: gray; */
    text-align: center;
    margin: auto;
    padding: 0px 30px
}

.sub-header{
    grid-area:sh;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: auto;
    padding: 0px 30px;
    text-decoration: underline;
}

.footer{
    grid-area: ft;
    font-size: 15px;
    text-align: center;
    /* color: floralwhite; */
}

.sidebar{
    grid-area: sd;
}

.content{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

h1,h2 {
    /* padding: 0px 20px; */
    /* color: #FF3B3F; */
}

h2 {
    /* color: red; */
}

h3 {
    color: floralwhite;
    text-align: center;
    font-size: 22px;
}

h4, h5 {
   text-align: center;
    /* color: red */
}

h5 {
    font-size: 20px;
}

.blog-types-container {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: space-evenly; */

    
}

.outer-blog-container {
    /* border: 1px solid green; */
}

.blog-container {
    display: flex;
    justify-content: space-evenly;
    /* border: 30px solid green; */
}

.blog-item {
    height: 200px;
    width: 200px;
    margin: 10px 0px;
    background-color: #CAEBF2;
    padding: 10px;
    /* border: 1px solid green;  */
}

.author {
    text-align: center;    
}

.article-link{
    text-align: center;
    font-size: 7px;
}

/* #truncate {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
} */

/* If Screen Is Wide Enough */
@media(min-width:900px){
.container{
      display:grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 250px 600px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd sd main main main main main main"
      "ft ft ft ft ft ft ft ft";
      border: 2px solid red;
      height: none;

  }
}